body{

	padding:0px;

	margin:0;

}

table{

	border-collapse:collapse;

}

.tabel_form tr,td,th{

	border-collapse:collapse;

	border:0px;

	height:30px;

}

.menu_navigasi{

border-bottom:1px solid blue;

height:26px;

}

.menu_left{

	float:left;

}

.menu_right{

	float:right;

	padding-right:50px;	

}

.menu{

	list-style:none;

	font:normal 13px Arial,Sans-Serif;

	margin:0;

	padding:0;

	font-weight:bold;

}

.content{

	margin:10px;

	

}

.menu li{

	display:block;

	float:left;

	margin-left:1px;

	position:relative;

}

.menu ul{

	padding:0;

	margin:0;

	float:none;

	position:absolute;

}

.menu li a{

	display:block;

	padding:5px 15px;

	background:white;

	color:black;

	white-space:nowrap;

	border-top:1px solid white;

}

.menu ul{

	display:none;

}

.menu li:hover ul{

	display:block;

}

.tabel_data{

	border:1px solid #ccc;

}

.tabel_data th{

	border:1px solid #ccc;

	font-weight:bold;

	height:35px;

	background:#7FAAFF;

	text-align:left;

	padding:4px;

}

.tabel_data td{

	border:1px solid #ccc;

}
